body {
  background: url("../img/orange-wallpaper.jpg");
  font-family: Arial, sans-serif;
 }

 /*title text*/
 #title-text {
   font-family: 'Bree Serif', serif;
   text-align: center;
 }

/* img */
.img-circle{
  width: 180px;
  height: 180px;
}
 
/*text box area*/
#name {
  position: relative;
  width: 300px;
}

#submit {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  bottom: 100px;
  left: 325px;
}

#textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 50px;
}

/*list group panel*/
.list-group > .list-group-item {
  background-color: red;
}

.list-group-item {
  position: relative;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#btn-devour {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  bottom: 4px;
  left: 310px;
}

/*table*/
 .table tbody tr > td{
  background-color: #cc00cc;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}